$CBrighterYellow: #fff5a3;
$CBrightYellow: #d3c447;
$CYellow: #f5e773;
$CDarkYellow: #b5a526;
$CDarkerYellow: #8f810d;

@font-face {
  font-family: "Lora";
  src: url("./../fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lora-italic";
  src: url("./../fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
}
