@use "../abstract/variables" as *;

.todo-list {
  .todo-item {
    background-color: $CDarkerYellow;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    color: white;
    padding: 1em;
    width: 15em;
    height: 11em;
    border-radius: 0.25em;
    .created-at-text {
      margin-top: auto;
    }
  }
}
